<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Initial Catalog=SmartAccount;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    
    <!--<add name="SmartAccountEntities" connectionString="metadata=res://*/SQL2K8.csdl|res://*/SQL2K8.ssdl|res://*/SQL2K8.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=SmartAccount;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SmartAccountEntities" connectionString="metadata=res://*/SQLCE.csdl|res://*/SQLCE.ssdl|res://*/SQLCE.msl;provider=System.Data.SqlServerCe.4.0;provider connection string=&quot;Data Source=|DataDirectory|\SQLCE.sdf&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SmartAccountContext" connectionString="Data Source=SmartAccountEntities.sdf" providerName="System.Data.SqlServerCe.4.0" />-->

    <!--<add name="SmartAccountEntities" connectionString="metadata=res://*/SQL2K8.csdl|res://*/SQL2K8.ssdl|res://*/SQL2K8.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HOME-A3FFF899D9;Initial Catalog=SmartAccount;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />-->
  </connectionStrings>
  
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0"/>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </DbProviderFactories>
  </system.data>-->
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="NoProjectSelected" value="Project cannot be blank." />
    <add key="NoHeadSelected" value="Account head cannot be blank." />
    <add key="AmountCannotBeZero" value="Amount cannot be zero." />
    <add key="ContraTypeIsNotSelected" value="Contra type is not selected." />
    <add key="JVDebitOrCreditNotSelected" value="Please select the amount as Debit or Credit." />
    <add key="UnknownProblemArise" value="Unknown error occured. Please contact the Administrator." />
    <add key="InvalidProject" value="Invalid Project." />
    <add key="InvalidHeadForProject" value="Invalid Head for Project ${ProjectName}$." />
    <add key="DebitOrCreditAmountIsInvalid" value="Debit or Credit amount is invalid. Please verify." />
    <add key="VoucherBalanceIsNotZero" value="Debit and credit amount is not balanced." />
    <!-- <add key="TemporaryRecordsAdded" value="{0} Temporary Voucher(s) Added." /> -->
    <add key="VoucherPostedSuccessfully" value="Voucher posted successfully." />
    <add key="NoFixedAssetParticularNameFound" value="Please provide fixed asset particulars." />
    <add key="ZeroDepreciationProvidedForFixedAsset" value="Zero depreciation provided for fixed asset." />
    <add key="NoChequeOrBankInfo" value="Cheque no or bank name is blank." />
    <add key="VoucherAlreadyExists" value="A voucher with the same serial number already exists. Please verify before posting." />
    <add key="ErrorColorCode" value="#FFFF2B2B" />
    <add key="SuccessColorCode" value="#FF82D457" />
    <add key="WarningColorCode" value="#FFCECE12" />
    <add key="InformationColorCode" value="#00000000" />


    <add key="HeadAlreadyExists" value="Head '${HeadName}$' already exists." />
    <add key="NewHeadSuccessfullyCreated" value="New Account of head '${HeadName}$' successfully created." />
    <add key="HeadSuccessfullyUpdated" value="Account of head '${HeadName}$' successfully updated." />
    <add key="HeadUpdatedFailed" value="The head '${HeadName}$' is not available for update." />


    <add key="ProjectAlreadyExists" value="Project '${ProjectName}$' already exists." />
    <add key="NewProjectSuccessfullyCreated" value="New project '${ProjectName}$' successfully created." />
    <add key="ProjectSuccessfullyUpdated" value="Project '${ProjectName}$' successfully updated." />
    <add key="ProjectUpdatedFailed" value="The project '${ProjectName}$' is not available for update." />

    <add key="NewBudgetSavedSuccessfully" value="New budget successfully created for the financial year starting ${Date}$." />
    <add key="NewBudgetInsertFailed" value="New budget creation failed." />
    <add key="BudgetUpdatedSuccessfully" value="Budget amount for the financial year starting ${HeadName}$ updated successfully." />
    <add key="BudgetUpdatedFailed" value="Change in budget failed." />

    <add key="NewDepreciationRateSavedSuccessfully" value="New depreciation rate successfully updated." />
    <add key="NewDepreciationRateInsertFailed" value="Depreciation rate update failed." />
    <add key="DepreciationRateUpdatedSuccessfully" value="Depreciation rate for ${HeadName}$ updated successfully." />
    <add key="DepreciationRateUpdatedFailed" value="Change in depreciation rate failed." />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>



