<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SmartAccountEntities" connectionString="metadata=res://*/SQL2K8.csdl|res://*/SQL2K8.ssdl|res://*/SQL2K8.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=SmartAccount;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="NoProjectSelected" value="Project cannot be blank." />
    <add key="NoHeadSelected" value="Account head cannot be blank." />

    <add key="ErrorColorCode" value="#FFFF2B2B" />
    <add key="SuccessColorCode" value="#FF82D457" />
    <add key="WarningColorCode" value="#FFCECE12" />
    <add key="InformationColorCode" value="#00000000" />
  </appSettings>
  
</configuration>