<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="SmartAccountEntities" connectionString="metadata=res://*/SQL2K8.csdl|res://*/SQL2K8.ssdl|res://*/SQL2K8.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=SmartAccount;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="NoProjectSelected" value="Project cannot be blank." />
    <add key="NoHeadSelected" value="Account head cannot be blank." />
    <add key="AmountCannotBeZero" value="Amount cannot be zero." />
    <add key="ContraTypeIsNotSelected" value="Contra type is not selected." />
    <add key="JVDebitOrCreditNotSelected" value="Please select the amount as Debit or Credit." />
    <add key="UnknownProblemArise" value="Unknown error occured. Please contact the Administrator." />
    <add key="InvalidProject" value="Invalid Project." />
    <add key="InvalidHeadForProject" value="Invalid Head for Project {0}." />
    <add key="DebitOrCreditAmountIsInvalid" value="Debit or Credit amount is invalid. Please verify." />
    <add key="VoucherBalanceIsNotZero" value="Debit and credit amount is not balanced." />
    <!--<add key="TemporaryRecordsAdded" value="{0} Temporary Voucher(s) Added." />-->
    <add key="VoucherPostedSuccessfully" value="Voucher posted successfully." />
    <add key="NoFixedAssetParticularNameFound" value="Please provide fixed asset particulars." />
    <add key="ZeroDepreciationProvidedForFixedAsset" value="Zero depreciation provided for fixed asset." />
    <add key="NoChequeOrBankInfo" value="Cheque no or bank name is blank." />
    <add key="ErrorColorCode" value="#FFFF2B2B" />
    <add key="SuccessColorCode" value="#FF82D457" />
    <add key="WarningColorCode" value="#FFCECE12" />
    <add key="InformationColorCode" value="#00000000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>



